<% include ../partials/header.ejs %>
    <script async src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <div class="container">
    <header class="jumbotron">
      <h1>Your products </h1>  
      <a href="/mykart" class="btn btn-info">Your Kart</a>
    </header>
    <div id="ajax">
       <div class="row text-center" style="display:flex; flex-wrap:wrap;">
    
            <% camps.forEach(function(camp){ %>
     <div class="col-lg-3 col-xs-6">
        <div class="thumbnail" style="border:1px solid #aeaeae">
           
                 <img class="img" src="<%= camp.image %>" /> 
          
       
        <div class="caption">
            <h4><%= camp.name %></h4>
        </div>
      
     
             
        <div style="padding-bottom:10px">
       
        <% if(!camp.sale && !camp.sold && !camp.recieved){ %>
        <label >Your product has been requested by a buyer , check below for more info </label>
        <a href="/campgrounds/sell/<%= camp._id %>" class="btn btn-warning">Product requested</a>
        
      <%    }else if(camp.sold && !camp.sale && !camp.recieved && !camp.agree){ %>
       <label >You have accepted to chat with the buyer</label>
        <a href="/product/decline/<%= camp._id %>" class="btn btn-danger">Cancel request</a>
       <a href="/campgrounds/sell/<%= camp._id %>" class="btn btn-warning btn">More info</a>
           <% } else if(camp.recieved){ %>
           <label>Product recieved by the buyer</label>
                    <% if(!camp.money) { %>
            <a href="/campgrounds/sell/<%= camp._id %>" class="btn btn-warning btn">More info</a>
            <% } %>
           <% } else if(camp.agree){ %>
               <label>You have agreed to sell your product</label>
               <% if(!camp.recieved || !camp.money) { %>
                 <a href="/product/decline/<%= camp._id %>" class="btn btn-danger">Delete the request</a>
               <% } %>
              
       <a href="/campgrounds/sell/<%= camp._id %>" class="btn btn-warning btn">More info</a>
               
           <% }else{ %>
           
            <label >No buyer has requested your product yet </label>
                 <form action="/campgrounds/<%= camp._id %>?_method=DELETE" method="POST" id="form-delete" style="display:inline">
                    <button class="btn btn-danger" >Delete</button>
                </form>
                <label class="btn btn-success ">In sale</label>
             <% } %>
        </div>
        </div>
    </div>
      
    <% }); %>
    
     

    </div>
     
    </div>
    
    

</div> 

<script>

  
  function fetch(){
    
        $.ajax({
           
           url:"https://blooming-everglades-75024.herokuapp.com/campgrounds/user/<%= loggedUser._id %>/refresh",
           type:"GET",
           datatype:"json",
           success:function(data)
           {
              $("#ajax").html(data);
           }
           
       }) ;
  }
  setInterval("fetch()",1000);
</script>
   
<% include ../partials/footer.ejs %>