<% include ../partials/header.ejs %>
<div class="container">
    <div class="row">
         <div style="text-align:center">
             <h1>Product details</h1>
             <h2>Seller Id:<%= seller.username %></h2>
             <% if(loggedUser.isAdmin){ %>
                <% if(!camp.sale && !camp.agree){ %>
                        <h2>Requested by:<%= buyer.username %></h2>
                <% }else if(!camp.sale && camp.agree){ %>
                 <h2>Sold to:<%= buyer.username %></h2>
                <% }else{ %>
                 <h2>No one has requested this product</h2>
                <% } %>

             <% } %>
            
             <img src=""/>
             <% if(!camp.sale && !loggedUser.isAdmin){ %>
             <% if(camp.sold) { %>
               <label><h3>Seller has accepted to chat with you , contact the person before proceeding.</h3></label>
                <label ><h3>Click below to chat with your seller???</h3></label>
                <form action="http://vijethvk11-com.stackstaging.com/chat/index.php" method="POST">
                    <input type="submit" value="Chat" class="btn btn-success" >
                    <input type="hidden" value="Seller" name="Seller">
                    <input type="hidden" name="first" value="<%= buyer.username %>" >
                    <input type="hidden" name="second" value="<%= seller.username %>">
                </form>
                 <div>
                    <% if(camp.agree && !camp.recieved){ %>
                     <label><h3>Click yes whenever you recieve the product</h3></label>
                     <div>
              <a href="/recieved/<%=camp._id %>" class="btn btn-success">Yes</a>
                <a href="/mykart" class="btn btn-danger">No</a>
             </div>
                    <% } %>
               
             </div>
             
                
             <% } else{ %>
                  <h2>Seller has still not accepted your request, we will notify you when he does</h2>
                  
            <% } %>
           
            
             <% } %>
         </div>
    </div>
</div>

<% include ../partials/footer.ejs %>



<% include ../partials/footer.ejs %> 